<main>
    <article>
       <h2>WEB Y PROGRAMACIÓN</h2>
        <p>
            En Choose diseñamos páginas web y desarrollamos tiendas virtuales, creando un valor diferencial para tu marca, fusionando tus objetivos empresariales con nuestra creatividad, obteniendo una plataforma de alto impacto con una interfaz práctica e intuitiva. Descubre con nosotros un mundo de oportunidades digitales, que te brindaran mayores ventajas competitivas para tu negocio.        </p> 
    <div class="botones">
        <button routerLink="/servicios">Regresar</button>
        <button routerLink="/contacto">Contactanos</button>
    </div>
    <div>
        <swiper-container
        slides-per-view="1"
        autoplay="true"
        speed="500"
        navigation="true"
        pagination="true">
            <swiper-slide><img src="/web-program-1.jpg" alt=""></swiper-slide>
            <swiper-slide><img src="/web-program-2.jpg" alt=""></swiper-slide>
        </swiper-container>
    </div>
    </article>
    <div class="video">
        <iframe title="vimeo-player" src="https://player.vimeo.com/video/946398864?h=00ff0d2a6f" width="100%" frameborder="0" allowfullscreen=""></iframe>    </div>
</main>