<main>
    <app-navegacion></app-navegacion>
    <div class="card">
        <div class="card-1">
            <h3>SOCIAL LISTENING</h3>
            <p>Convierte datos en estrategia y gestiona tu audiencia online.</p>
            <button routerLink="/servicios/sociallistening">Mas info</button>
            <img src="servicio1.jpg" alt="">
        </div>
        <div class="card-2">
            <h3>WEB Y PROGRAMACION</h3>
            <p>Impulsa tu presencia digital con nuestras soluciones web personalizadas.</p>
            <button routerLink="/servicios/webprogramacion">Mas info</button>
            <img src="servicio2.jpg" alt="">
        </div>
        <div class="card-3">
            <h3>CONTENIDO DIGITAL</h3>
            <p>Desata el poder del storytelling </p>
            <button routerLink="/servicios/contenidodigital">Mas info</button>
            <img src="servicio3.jpg" alt="">
        </div>
    </div>
</main>