

img{
    width: 100%;
    height: 100%;
}

main{
    font-family: monospace;
    font-size: 15px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #141414;
    color: white;
}
article{
    width: 50%;
    margin: 50px;
    background-color: black;
    border-radius: 25px;
    padding: 20px;
}
.video{
    width: 50%;
    height: 50%;
    margin: 50px;
    padding: 20px;
    background-color: black;
    border-radius: 25px;
}
iframe{
    width: 100%;
    height: 100%;
}

.botones{
    display: flex;
    justify-content: space-evenly;
}

button{
    margin: 20px;
    background-color: #F7B521;
    border-radius: 50px;
    width: 30%;
    height: 45px;
    border: solid black 2px;
}
button:active{
    background-color: #ffcc5d;
}