<main>
    <article>
       <h2>SOCIAL LISTENING</h2>
        <p>
        Descubre nuestras herramientas capaces de transformar conversaciones online en información estratégica para tu negocio. Identificamos las necesidades y deseos de tus clientes en tiempo real para potenciar tu marca, mejorando su posicionamiento e incrementando su comercialización.
        </p> 
    <div class="botones">
        <button routerLink="/servicios">Regresar</button>
        <button routerLink="/contacto">Contactanos</button>
    </div>
    
    <div>
        <swiper-container
        slides-per-view="1"
        autoplay="true"
        speed="500"
        navigation="true"
        pagination="true">
            <swiper-slide><img src="/social-list-1.jpg" alt=""></swiper-slide>
            <swiper-slide><img src="/social-list-2.jpg" alt=""></swiper-slide>
        </swiper-container>
    </div>
    </article>
    <div class="video">
        <iframe id="video-origen" title="Choose Agencia - El Origen" src="https://player.vimeo.com/video/946399549?h=ec96ea06ef" width="100%" frameborder="0" allowfullscreen=""></iframe>
    </div>
</main>