<main>
    <article>
       <h2>CONTENIDO DIGITAL</h2>
        <p>
            Descubre nuestras herramientas capaces de transformar conversaciones online en información estratégica para tu negocio. Identificamos las necesidades y deseos de tus clientes en tiempo real para potenciar tu marca, mejorando su posicionamiento e incrementando su comercialización.
        </p> 
    <div class="botones">
        <button routerLink="/servicios">Regresar</button>
        <button routerLink="/contacto">Contactanos</button>
    </div>
    
    <div>
        <swiper-container
        slides-per-view="1"
        autoplay="true"
        speed="500"
        navigation="true"
        pagination="true">
            <swiper-slide><img src="/contenido-digital-1.jpg" alt=""></swiper-slide>
            <swiper-slide><img src="/contenido-digital-2.jpg" alt=""></swiper-slide>
        </swiper-container>
    </div>
    </article>
    <div class="video">
        <iframe title="vimeo-player" src="https://player.vimeo.com/video/946396742?h=cd6c28192b" frameborder="0" allowfullscreen=""></iframe>
    </div>
</main>